.git
.github
.env
.env.*
!.env.example
.DS_Store
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
public/build
public/hot
public/storage
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
docker-compose*.yml
